[Unit]
Description=Azure Files Refresh Service
After=network.target

[Service]
ExecStart=/usr/bin/azfilesrefresh
Restart=on-failure
User=root
Group=root


[Install]
WantedBy=multi-user.target

